<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
  PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
  "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="SvgMapper">

	<select id="imgList" resultType="ImgVo">
		SELECT img_id
				, img_name
				, img_path
				, datetime(reg_date) AS reg_date
				, datetime(mod_date) AS mod_date
		FROM imageForm
		ORDER BY reg_date DESC
	</select>
	
</mapper>
